@import '../../config.scss';

.main-content-container {
  section {
    color: #bfc0c2;
    .person-infos-container {
      gap: 10px;
      display: flex;
      flex-direction: column;
      font-size: 0.85em;
      span {
        display: flex;
        align-items: center;
        svg {
          margin-right: 5px;
        }
      }
    }
    .followers-container {
      display: flex;
      height: 35px;
      align-items: center;
      span {
        margin-left: 5px;
      }
    }
    button {
      height: 35px;
      border: 1px solid rgba(240,246,252,0.1);
      background-color: #21262d;
      color: #bfc0c2;
      font-weight: bold;
    }
    img {
      border-radius: 50%;
      border: 1px solid #bfc0c2;
    }
    &:last-child {
      nav {
        display: block;
        position: relative;
        margin: 10px 0;
        ul > li {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          gap: 10px;
          color: white;
          padding: 0 16px;
          .counter {
            display: inline-block;
            min-width: 20px;
            background-color: rgba(110,118,129,0.4);
            padding: 0 6px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            border: 1px solid rgba(0,0,0,0);
            border-radius: 2em;
          }
        }
        &::after {
          position: absolute;
          content: '';
          height: 2px;
          left: 10px;
          bottom: calc(50% - 25px);
          width: 170px;
          background-color: orangered;
        }  
      }
      .card-container {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        font-size: 1em;
        padding-bottom: 10px;
        border-bottom: 1px solid #30363d;
        color: #8b949e;
        gap: 10px;
        h2 {
          color: #58a6ff;
          font-weight: 600;
          font-size: 1.3em;
        }
        p {
          font-weight: 300;
          line-height: 1.7em;
          font-size: 0.90em;
        }
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 0.90em;
          font-weight: 300;
          .repo-language-color {
            border: 1px solid rgba(255,255,255,0.2);
            width: 12px;
            height: 12px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  @media screen and (max-width: $medium) {
    width: 100vw;
    section {
      display: flex;
      flex-direction: column;
      max-width: 90%;
      margin: 0 auto;
      justify-content: center;
      gap: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #30363d;
      .profile-container {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        padding: 10px 0;
        .logo-container {
          width: fit-content;
          margin: 0 auto;
          padding: 10px 0;
          font-size: 3em;
          color: #f0f6fc;
        }
        .title-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px;
          h3 {
            color: rgb(204, 204, 204);
            font-weight: 300;
          }
        }
        img {
          width: 75px;
          height: 75px;
        }
      }
      button {
        border-radius: 5px;
      }
      svg {
        font-size: 1.08em;
        color: #8b949e;
      }
      &:last-child {
        margin-bottom: 0;
        gap: 20px;
        nav {
          display: flex;
          position: relative;
        }
        div {
          display: flex;
          font-size: 1.2em;
        }
      }
    }
  }
  @media screen and (min-width: $medium) and (max-width: $large) {
    display: flex;
    section {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      gap: 20px;
      .profile-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
        .title-container {
          display: flex;
          flex-direction: column;
          order: 3;
          gap: 10px;
          max-width: 90%;
          h3 {
            font-weight: 400;
          }
        }
        .logo-container {
          width: fit-content;
          color: #f0f6fc;
          padding: 15px 20px;
          font-size: 2em;
          width: 100vw;
          margin-left: -20px;
          border-bottom: 1px solid #30363d;
          order: 1;
        }
      }
      &:first-child {
        max-width: 40%;
      }
      img {
        margin-top: 20px;
        order: 2;
        width: 300px;
        height: 300px;
      }
      button {
        font-weight: bold;
        border-radius: 5px;
      }
      &:last-child {
        margin-top: 70px;
        nav {
          display: flex;
          font-size: 1.3em;
          position: relative;
          max-width: 40%;
        }
        .card-container {
          font-size: 1.1em;
        }
      }
    }
  }
  @media screen and (min-width: $large) {
    display: flex;
    section {
      display: flex;
      flex-direction: column;
      &:first-child {
        padding: 0 50px;
        gap: 20px;
        max-width: 30%;
      }
      .profile-container {
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }
      .title-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        order: 3;
        h3 {
          font-size: 1em;
          font-weight: 100;
        }
      }
      .logo-container {
        order: 1;
        font-size: 3em;
        border-bottom: 1px solid #30363d;
        width: calc(100vw - 15px);
        margin-left: -50px;
        padding: 10px 20px;
        svg {
          cursor: pointer;
        }
      }
      img {
        margin-top: 10px;
        order: 2;
        width: 300px;
        height: 300px;
      }
      &:last-child {
        margin-top: 80px;
        min-width: calc(80% - 15%);
        gap: 20px;
        nav {
          padding: 10px 0;
          display: flex;
          position: relative;
        }
      }
    }
  }
}