@import '../../config.scss';

.form-github-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #161b22;
  fieldset {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: white;
    width: 60%;
    gap: 10px;
    input {
      border-radius: 5px 0 0 5px;
      font-size: 0.85em;
      padding: $padding-input-button;
      &:focus {
        outline: none;
      }
      &::placeholder {
        opacity: .5;
        font-size: 0.8em;
        color: #040F0F;
      }
    }
  }
  button {
    display: flex;
    background-color: #21262d;
    border: 1px solid rgba(240,246,252,0.1);
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 0.85em;
    padding: $padding-input-button;
    gap: 10px;
    cursor: pointer;
  }
  @media screen and (min-width: $medium) {
    font-size: 1.5em;
    fieldset {
      width: 100%;
      label {
        width: 70%;
      }
    }
  }
}
